.places {
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(5, auto);
  width: 984px;
  padding-top: 92px;
  gap: 80px;
  }


@media screen and (max-width: 1279px) {

  .places {
  width: 928px;
  padding-top: 92px;
  gap: 80px;
}
}

@media screen and (max-width: 1023px) {

  .places {
  width: 720px;
  padding-top: 88px;
  gap: 73px;
}
}

@media screen and (max-width: 767px) {

  .places {
  width: 480px;
  padding-top: 64px;
  gap: 50px;
}
}

@media screen and (max-width: 525px) {

  .places {
  width: 320px;
  padding-top: 64px;
  gap: 50px;
}
}
